@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bigelow+Rules&family=Griffy&family=Handjet:wght@300&family=Henny+Penny&family=Orbitron:wght@500&display=swap');
/* font-family: 'Alata', sans-serif;
font-family: 'Bigelow Rules', cursive;
font-family: 'Griffy', cursive;
font-family: 'Handjet', cursive;
font-family: 'Henny Penny', cursive;
font-family: 'Orbitron', sans-serif; */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
}
body{
    padding: 0px 0px;
}
.logo{
    width: 130px;
}
.list ul{
    gap: 30px;
}

.con-1{
    background-color: white;
    display: flex;
    flex-direction: column;
}
.one{
    background-image: url(home-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    background-attachment: fixed;
}
.two{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10px;
    padding-right: 10px;
}
.four{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
.gallery{
    width: 70%;
    display: flex;
    overflow-x: scroll;
    text-align: center;

}
.gallery::-webkit-scrollbar{
    display: none;
}
.gallery .gal{
    width: 100%;
    display: flex;
    flex: none;
    gap: 10px;
    padding: 10px;
    align-self: normal;
}
.carder{
    display: flex;
    flex-direction: column;
    width: 280px;
    padding-bottom: 10px; 
    border-radius: 8px;
}
.carder img{
    width: 280px;
}
.info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 0px 20px;
}
.navi{
    display: flex;
    padding-top: 10px;
    gap: 30px;
}
.navi i{
    font-size: 25px;
    cursor: pointer;
}
.footer{
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #68b6fa;
}
.foo{
    display: flex;
    flex-wrap: wrap;
}
.foo-social{
    flex: 30%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.foo-social ul{
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
}
.foo-social ul li{
    font-size: 25px;
    list-style: none;
    cursor: pointer;
}
.foo-links{
    flex: 40%;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}
.links{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    gap: 40px;
}
.links ul{
    list-style: none;
    text-align: left;
}
.links ul li{
    cursor: pointer;
    font-weight: lighter;
}
.links ul li:hover{
    color: white;
}
.foo-help{
    flex: 30%;
    text-align: center;
}
.foo-help ul{
    list-style: none;
    text-align: left;
}
.con-2{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: fit-content;
}
.con-2-img{
    flex: 50%;
    align-items: center;
    text-align: center;
}
.con-2-img img{
    width: 600px;
}
.con-2-content{
    flex: 50%;
    align-items: left;
    padding-left: 40px;
    gap: 15px;
}
.bbutton{
    text-decoration: none;
    color: whitesmoke;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}
.rbutton{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    background-color: #3490de;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.wbutton{
    text-decoration: none;
    color: #3490de;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.bbutton:hover{
    border: 1px solid #3490de;
    transition: 1s;
}
.wbutton:hover{
    border: 1px solid #3490de;
    transition: 1s;
}

#home{
    border-bottom: 1.5px solid Black;
}
#about{
    border-bottom: 1.5px solid transparent;
}
#courses{
    border-bottom: 1.5px solid transparent;
}
#services{
    border-bottom: 1.5px solid transparent;
}
#contact{
    border-bottom: 1.5px solid transparent;
}
/* .list ul li{
    border-bottom: 1.5px solid transparent;
}
.list ul li:hover{
    border-bottom: 1.5px solid black;
} */
.list ul li a:hover{
    color: #3490de;
}
.para{
    font-size: 20px;
}
#notification{
    display: flex;
    flex-direction: row;
    gap: 15px;
    text-align: left;
    justify-content: left;
    align-items: start;
}
#cancel{
    position: absolute;
    right: 2%;
    cursor: pointer;

}



/* small laptop view */
@media only screen and (max-width: 1025px) {

}
@media only screen and (max-width: 769px) {
    .list{
        text-align: center;
    }
    .con-1{
        background-color: white;
    }
    .con-2-img{
        flex: 100%;
    }
    .con-2-content{
        flex: 100%;
    }
    .con-2-content{
        flex: 50%;
        align-items: left;
        padding-left: 0px;
        padding-top: 40px;
    }
    .para{
        font-size: 16px;
    }
    #notification{
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 35px;
        gap: 0px;
        text-align: left;
        justify-content: left;
        align-items: start;
    }
    .footer{
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #68b6fa;
    }
    .links{
        gap: 10px;
    }
}
@media only screen and (max-width: 426px) {
    .logo{
        width: 100px;
    }
    .one h1{
        font-size: 55px;
    }
    .links{
        gap: 0px;
    }
    .foo-social{
        flex: 100%;
    }
    .foo-links{
        flex: 100%;
        text-align: left;
    }
    .foo-help{
        flex: 100%;
        text-align: left;
    }

}
